body {
	
	font:font-family: 'Orbitron', sans-serif;
}

header {
	height:100px;
	background:#FFFAFA;
	color:#4169E1;
}

main {
	width:100px;
	background:#fff;
	float:center;
}

main {
	width:600px;
	background:#fff;
	float:left;
}

aside {
	width:353px;
	float:right;
	background:#0c6;
}

footer {
	clear:both;
	}
	
section {
	padding:5px;
	width:960px;
	margin: 20px auto;
}
	
	
/*Acabamentos - Frufru*/
main {
	background-color:#8B0000;
	
}
main {
	background-color: #8B0000;
}

aside {
	background-color:#000000;
}

footer {
	background-color:#DCDCDC;
}

header, main, aside {margin-bottom:5px;}
section, header, aside, main, footer{
	border:solid 1px #ccc;
	border-radius:10px;
}


/*Media Queria com regras responsivas*/
/*Mobile First*/
/*Resolução máxima de 480px*/
@media screen and (max-width:480px) {
	header {height:auto; width:100%;}
	aside {display:none; width:100%;}
}

/*Resolução máxima de 768px*/
@media screen and (max-width:768px) {
	main {width:auto; float:100%;}
	aside {width:auto; float:none;}
}

/*Resolução máxima de 1279px*/
@media screen and (max-width:1279px) {
	section {width:100%;}
	main {width:78%;}
	aside {width:100%;}
}

    